<header>
  <div class="posting_form top_content">
    <header class="posting_header">
      <div class="posting_user_info user_info">
        <%= current_user.nickname %>が飲んだ旨い酒
      </div>
    </header>

  <%= form_for @tweet do |f| %>
      <%= f.text_field :text, placeholder: "今日のお酒はどうだった？\n\n\n" %><br />

      <%= f.label :"お店:" %><%= f.text_field :shop, placeholder: "どこで飲んだの？" %><br />
      <%= f.label :"店舗url:" %><%=f.text_field:shop_url, placeholder: "http://" %><br /><br />
      <%= f.label :"お酒の写真:" %><%= f.file_field :img %><br />
      <%= f.submit "投稿する" %>

    <% end %>
  </div>

    <%= render @tweets  %>
    <%= paginate(@tweets) %>
